<%-include('cabecalho.ejs')%>
    <h1>Adicionando alunos</h1>
    <form method="POST">
        Nome: <input type="text" name="nome" placeholder="Nome"><br>
        Endereço: <input type="text" name="endereco" placeholder="Endereço"><br>
        Telefone: <input type="text" name="telefone" placeholder="Telefone"><br>
        <input type="submit">
    </form>
    <h2><%=msg%></h2>
    <%-include('rodape.ejs')%>