<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de alunos - Adicionar</title>
</head>
<body>
    <h1>Adicionando alunos</h1>
    <form method="POST">
        Nome: <input type="text" name="nome" placeholder="Nome"><br>
        Endereço: <input type="text" name="endereco" placeholder="Endereço"><br>
        Telefone: <input type="text" name="telefone" placeholder="Telefone"><br>
        <input type="submit">
    </form>
</body>
</html>